<div class="ui inverted segment no-padding borderradiusless">
    <div class="ui equal width fluid grid" style="height: 100vh">
        <div class="middle aligned row">
            <div class="column"></div>
            <div class="four wide column">
                <div class="ui attached message borderradiusless">
                    <h4 class="ui header">
                        <img class="ui image" src="favicon.ico">
                        <div class="content">
                            Training Admin System
                            <div class="sub header">
                              Final Project
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="ui form attached padded segment">
                    <div class="field">
                        <label class="capitalize">Username</label>
                        <input placeholder="Username" type="email" name="email" required>
                    </div>
                    <div class="field">
                        <label class="capitalize">Password</label>
                        <input placeholder="Password" type="password" name="password" required>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input name="remember" type="checkbox">
                            <label class="capitalize" for="remember">Remember Password</label>
                        </div>
                    </div>
                    <div class="ui center aligned">
                        <button (click)="login()" class="ui primary button fluid uppercase ki-text">Login</button>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
