<div class="ui sidebar inverted vertical menu" style="padding-top: 61px">
  <a [routerLink]="['/dashboard/periods']" class="item">
    <i class="home icon"></i>
    Period
  </a>
  <a [routerLink]="['/dashboard/users']" class="item">
    <i class="block layout icon"></i>
    User
  </a>
  <a [routerLink]="['/dashboard/enrollments']" class="item">
    <i class="smile icon"></i>
    Enrollment
  </a>
  <a [routerLink]="['/dashboard/achievements']" class="item">
    <i class="calendar icon"></i>
    Achievement
  </a>
  <a [routerLink]="['/dashboard/trainings']" class="item">
    <i class="calendar icon"></i>
    Training Maintenance
  </a>
</div>
